html {
  font-size: 62.5%;
}
html body {
  font-size: 1.6rem;
  margin: 0;
}
html body h1 {
  margin: 0;
}
html body h2 {
  margin: 0;
}
html body a {
  text-decoration: none;
}

@font-face {
  font-family: "comics_light_regular";
  src: url("../fonts/typo_comics_light_demo.woff2") format("woff2"), url("../fonts/typo_comics_light_demo.woff") format("woff");
}
.dish-list {
  list-style-type: none;
  margin: 20px 0 55px;
  padding: 0 28px;
  font-size: 1.8rem;
}
.dish-list__item {
  margin-bottom: 30px;
}
.dish-list__item__name {
  margin-bottom: 5px;
}

.menu__details--note .dish-list__item__price {
  font-weight: bold;
}

.menu__details--chic .dish-list__item__price {
  font-size: 2.2rem;
}

.menu__details--delight .dish-list__item__price {
  font-size: 2.3rem;
}

.menu__details--taste .dish-list__item__price {
  font-size: 2.3rem;
}

@media (min-width: 768px) {
  .dish-list__item {
    display: flex;
    margin-bottom: 20px;
  }
  .dish-list__item__name {
    flex: 1 0;
    text-align: left;
    margin-bottom: 0;
  }

  .menu__details--note .dish-list {
    font-size: 1.7rem;
    margin: 13px 0 55px;
    padding: 0 12px 0 5px;
  }

  .menu__details--chic .dish-list {
    font-size: 1.6rem;
    margin: 27px 0 55px;
  }
  .menu__details--chic .dish-list__item {
    align-items: baseline;
    margin-bottom: 17px;
  }
  .menu__details--chic .dish-list__item__price {
    font-size: 2rem;
  }

  .menu__details--delight .dish-list {
    margin: 27px 0 55px;
  }
  .menu__details--delight .dish-list__item {
    align-items: baseline;
    margin-bottom: 17px;
  }
  .menu__details--delight .dish-list__item__price {
    font-size: 2.1rem;
  }

  .menu__details--taste .dish-list {
    margin: 27px 0 55px;
    font-size: 1.7rem;
  }
  .menu__details--taste .dish-list__item {
    align-items: baseline;
    margin-bottom: 17px;
  }
  .menu__details--taste .dish-list__item__price {
    font-size: 2.1rem;
  }
}
@media (min-width: 992px) {
  .dish-list {
    margin: 15px 0 68px;
  }

  .menu__details--note .dish-list {
    font-size: 2.1rem;
  }

  .menu__details--chic .dish-list {
    font-size: 1.9rem;
    margin: 30px 0 65px;
  }
  .menu__details--chic .dish-list__item__price {
    font-size: 2.2rem;
  }

  .menu__details--delight .dish-list {
    font-size: 2rem;
    margin: 30px 0 65px;
  }
  .menu__details--delight .dish-list__item__price {
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
  }

  .menu__details--taste .dish-list {
    font-size: 2rem;
    margin: 30px 0 65px;
  }
  .menu__details--taste .dish-list__item__price {
    font-size: 2.4rem;
  }
}
.page-header {
  text-align: center;
  background-color: #579C87;
  border-bottom: 2px solid #A1C181;
  padding: 38px 0;
}
.page-header h1, .page-header .h1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -3px;
}
.page-header h1 a, .page-header .h1 a {
  color: #FDCB46;
}

.page-footer {
  text-align: center;
  background-color: #579C87;
  border-top: 2px solid #A1C181;
  padding: 18px 11px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.page-footer .legal, .page-footer .contact {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  flex-grow: 1;
}
.page-footer .legal a, .page-footer .contact a {
  color: #FDCB46;
}
.page-footer .legal {
  text-align: left;
}
.page-footer .contact {
  text-align: right;
}

@media (min-width: 768px) {
  .page-footer {
    padding: 18px;
  }
  .page-footer .legal, .page-footer .contact {
    font-size: 2.4rem;
  }
}
@keyframes wiggle {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-4px, -2px);
  }
  60% {
    transform: translate(3px, 2px);
  }
  80% {
    transform: translate(5px, -4px);
  }
  100% {
    transform: translate(0);
  }
}
@media (min-width: 992px) {
  .page-footer .legal, .page-footer .contact {
    font-size: 2.6rem;
  }
  .page-footer a {
    display: inline-block;
  }
  .page-footer a:hover {
    animation: wiggle 350ms linear infinite;
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  padding: 35px 45px 55px;
}
main .menus {
  margin: 0 auto;
}
main .menus__prev {
  height: 400px;
  margin-bottom: 35px;
  box-shadow: 0 0 15px #CCCCCC;
}
main .menus__prev a {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main .menus__prev h2 {
  margin-bottom: 20px;
  padding: 0 5px;
}
main .menus__prev--note {
  background-color: #FCDFDB;
}
main .menus__prev--note img {
  width: 40px;
}
main .menus__prev--note h2 {
  font-family: "Devonshire", cursive;
  font-weight: 500;
  font-size: 2.8rem;
  color: #3C1218;
}
main .menus__prev--note span {
  font-family: "Itim", cursive;
  font-size: 4.1rem;
  font-style: italic;
  color: #3C1218;
}
main .menus__prev--chic {
  background-color: #FFF5FE;
}
main .menus__prev--chic h2 {
  font-family: "Croissant One", cursive;
  font-size: 2rem;
  font-weight: 500;
  background: -webkit-linear-gradient(-80deg, #E38A12 15%, #AC6BAF 55%, #905BFD 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #D8852E;
}
main .menus__prev--chic span {
  font-family: "Times New Roman";
  font-size: 4rem;
  font-weight: 600;
  color: #D8852E;
}
main .menus__prev--delight {
  background-color: #F9F9F9;
}
main .menus__prev--delight h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2.9rem;
  font-weight: 500;
  background: -webkit-linear-gradient(-70deg, #0431DF 20%, #076BF2 55%, #0887FB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0887FB;
}
main .menus__prev--delight span {
  font-family: "Caveat", cursive;
  font-size: 4.6rem;
  font-weight: 500;
  color: #0887FB;
}
main .menus__prev--taste {
  background-color: #FDFFFD;
}
main .menus__prev--taste h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 2.8rem;
  font-weight: 500;
  background: -webkit-linear-gradient(-70deg, #3D9339 20%, #8BD363 50%, #BFFF7E 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #72BF56;
}
main .menus__prev--taste span {
  font-family: "Caveat", cursive;
  font-size: 4.6rem;
  font-weight: 500;
  color: #72BF56;
}
main .soon {
  background-color: #579C87;
  color: #FDCB46;
  border-radius: 11px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin: 50px auto;
  max-width: 286px;
  line-height: 5.5rem;
  text-align: center;
}
main .soon__dot {
  animation: appearance 1000ms ease-out infinite;
}
main .soon__dot--1 {
  animation-delay: 333.3333333333ms;
}
main .soon__dot--2 {
  animation-delay: 666.6666666667ms;
}
main .soon__dot--3 {
  animation-delay: 1000ms;
}

@media (min-width: 768px) {
  main {
    padding: 50px 35px 115px;
  }
  main .menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .menus__prev {
    flex-basis: 40%;
    margin-bottom: 55px;
  }
  main .soon {
    margin: 0 auto;
    max-width: none;
    width: 320px;
    font-size: 2.7rem;
  }
}
@media (min-width: 992px) {
  main {
    padding: 50px 25px 125px;
  }
  main .menus {
    width: 950px;
  }
  main .menus__prev {
    flex-basis: 35%;
    height: 470px;
    margin-bottom: 75px;
  }
  main .menus__prev a {
    transition: all 400ms;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
  }
  main .menus__prev a:hover {
    opacity: 0.7;
    transform: scale(1.29) translate3d(0, 0, 0);
  }
  main .soon {
    width: 390px;
    font-size: 3.3rem;
    line-height: 6.2rem;
  }
}
.menu {
  padding: 35px 30px 100px;
  text-align: center;
}
.menu__restau-name {
  font-family: "Arial", sans-serif;
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0 0 20px;
}
.menu__details {
  box-shadow: 0 0 15px #CCCCCC;
  padding: 35px 0 5px;
}
.menu__details__header {
  padding-bottom: 30px;
}
.menu__details__subtitle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
}
.menu__details__subtitle .bar img {
  max-width: 100%;
  position: relative;
}
.menu__details__subtitle h2 {
  box-sizing: border-box;
}
.menu__details--note {
  padding: 25px 0;
  background-color: #FCDFDB;
  font-family: "comics_light_regular", cursive;
  color: #3C1218;
}
.menu__details--note header img {
  width: 40px;
}
.menu__details--note header h1 {
  font-family: "Devonshire", cursive;
  font-weight: 500;
  font-size: 3.3rem;
}
.menu__details--note__subtitle .bar {
  flex: 1 1;
}
.menu__details--note__subtitle .bar img {
  top: 2px;
}
.menu__details--note__subtitle h2 {
  flex: 0 0 30%;
  padding: 0 10px;
  white-space: nowrap;
  font-size: 2.1rem;
}
.menu__details--note footer {
  display: flex;
  justify-content: center;
}
.menu__details--note footer img {
  width: 30px;
  padding-right: 7px;
  padding-bottom: 5px;
}
.menu__details--note footer p {
  font-family: "Devonshire", cursive;
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
}
.menu__details--chic {
  background-color: #FFF5FE;
  font-family: "Source Serif Pro", "Arial", sans-serif;
}
.menu__details--chic header h1 {
  font-family: "Croissant One", cursive;
  font-weight: 500;
  font-size: 2.7rem;
  background: -webkit-linear-gradient(-80deg, #E38A12 15%, #AC6BAF 55%, #905BFD 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #D8852E;
}
.menu__details--chic__subtitle {
  padding: 0 14px 10px;
}
.menu__details--chic__subtitle .bar {
  flex: 0 1 260px;
}
.menu__details--chic__subtitle .bar img {
  top: 3px;
}
.menu__details--chic__subtitle h2 {
  flex: 0 0 60%;
  padding: 0 15px;
  font-size: 2.1rem;
  line-height: 2.8rem;
}
.menu__details--chic__starter {
  color: #C67412;
}
.menu__details--chic__main-course {
  color: #A56799;
}
.menu__details--chic__dessert {
  color: #6E4CCC;
}
.menu__details--delight {
  background-color: #EDEFEF;
  font-family: "comics_light_regular", cursive;
}
.menu__details--delight header h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 500;
  font-size: 3.9rem;
  background: -webkit-linear-gradient(-70deg, #0431DF 20%, #076BF2 55%, #0887FB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0887FB;
}
.menu__details--delight__subtitle {
  padding: 0 14px 13px;
}
.menu__details--delight__subtitle .bar {
  flex: 0 1 270px;
}
.menu__details--delight__subtitle .bar img {
  top: 1px;
}
.menu__details--delight__subtitle h2 {
  flex: 0 0 60%;
  padding: 0 10px;
  font-size: 2.2rem;
  font-weight: 500;
  white-space: nowrap;
}
.menu__details--taste {
  background-color: #FDFFFD;
  font-family: "comics_light_regular", cursive;
}
.menu__details--taste header h1 {
  font-family: "Kaushan Script", cursive;
  font-weight: 500;
  font-size: 3.9rem;
  background: -webkit-linear-gradient(-70deg, #3D9339 20%, #8BD363 50%, #BFFF7E 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #72BF56;
}
.menu__details--taste__subtitle {
  padding: 0 14px 13px;
}
.menu__details--taste__subtitle .bar {
  flex: 1 1 290px;
}
.menu__details--taste__subtitle .bar img {
  top: 1px;
}
.menu__details--taste__subtitle h2 {
  flex: 0 0 40%;
  padding: 0 10px;
  font-size: 2.2rem;
  font-weight: 500;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .menu {
    padding: 45px 70px 130px;
  }
  .menu__restau-name {
    font-size: 3rem;
  }
  .menu__details {
    padding: 50px 50px;
  }
  .menu__details__subtitle {
    padding: 0 0;
  }
  .menu__details--note header img {
    width: 55px;
  }
  .menu__details--note header h1 {
    font-size: 3.8rem;
  }
  .menu__details--chic {
    padding: 64px 34px;
  }
  .menu__details--chic header {
    padding-bottom: 64px;
  }
  .menu__details--chic header h1 {
    font-size: 3.3rem;
  }
  .menu__details--chic__subtitle {
    margin: 0 -13px;
  }
  .menu__details--chic__subtitle .bar img {
    top: 2px;
  }
  .menu__details--chic__subtitle h2 {
    flex: 0 0 42%;
    white-space: nowrap;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    padding: 0 4px;
  }
  .menu__details--delight {
    padding: 64px 26px;
  }
  .menu__details--delight header {
    padding-bottom: 64px;
  }
  .menu__details--delight header h1 {
    font-size: 5.5rem;
  }
  .menu__details--delight__subtitle {
    margin: 0 -20px;
  }
  .menu__details--delight__subtitle .bar img {
    top: 4px;
  }
  .menu__details--delight__subtitle h2 {
    flex: 0 0 38%;
    font-size: 2.2rem;
    letter-spacing: 0.07rem;
    padding: 0 0;
  }
  .menu__details--taste {
    padding: 64px 24px;
  }
  .menu__details--taste header {
    padding-bottom: 64px;
  }
  .menu__details--taste header h1 {
    font-size: 6.4rem;
  }
  .menu__details--taste__subtitle {
    margin: 0 -10px;
  }
  .menu__details--taste__subtitle .bar {
    flex: 0 1 290px;
  }
  .menu__details--taste__subtitle .bar img {
    top: 4px;
  }
  .menu__details--taste__subtitle h2 {
    flex: 0 0 30%;
    font-size: 2.2rem;
    padding: 0 0;
  }
}
@media (min-width: 992px) {
  .menu__restau-name {
    font-size: 3.2rem;
  }
  .menu__details {
    box-sizing: border-box;
    width: 820px;
    margin: 0 auto;
    padding: 60px 70px;
  }
  .menu__details--note header img {
    width: 66px;
  }
  .menu__details--note header h1 {
    font-size: 4.5rem;
  }
  .menu__details--note__subtitle h2 {
    font-size: 2.6rem;
  }
  .menu__details--note footer img {
    width: 38px;
    padding-right: 8px;
  }
  .menu__details--note footer p {
    font-size: 3.7rem;
  }
  .menu__details--chic {
    padding: 90px 80px;
  }
  .menu__details--chic header {
    padding-bottom: 90px;
  }
  .menu__details--chic header h1 {
    font-size: 4rem;
  }
  .menu__details--chic__subtitle {
    margin: 0 -61px;
  }
  .menu__details--chic__subtitle h2 {
    flex: 0 0 36%;
    font-size: 2.2rem;
  }
  .menu__details--delight {
    padding: 90px 85px 80px;
  }
  .menu__details--delight header {
    padding-bottom: 90px;
  }
  .menu__details--delight header h1 {
    font-size: 7.5rem;
  }
  .menu__details--delight__subtitle {
    margin: 0 -61px;
  }
  .menu__details--delight__subtitle .bar img {
    top: 6px;
  }
  .menu__details--delight__subtitle h2 {
    flex: 0 0 32%;
    font-size: 2.3rem;
  }
  .menu__details--taste {
    padding: 90px 70px 80px;
  }
  .menu__details--taste header {
    padding-bottom: 90px;
  }
  .menu__details--taste header h1 {
    font-size: 8rem;
  }
  .menu__details--taste__subtitle {
    margin: 0 -50px;
  }
  .menu__details--taste__subtitle .bar img {
    top: 4px;
  }
  .menu__details--taste__subtitle h2 {
    flex: 0 0 25%;
    font-size: 2.3rem;
  }
}

/*# sourceMappingURL=main.css.map */
