// Colors
$primary-color: #579C87;
$primary-color-border: #A1C181;
$primary-color-text: #FDCB46;

$menu-prev-shadow-color: #CCCCCC;

$menu-note-box-color: #FCDFDB;
$menu-note-name-color: #3C1218;

$menu-chic-box-color: #FFF5FE;
$menu-chic-name-color: #D8852E;
$menu-chic-gradient-color1: #D8852E;
$menu-chic-gradient-color2: #AC6BAF;
$menu-chic-gradient-color3: #905BFD;
$menu-chic-starter-color: #C67412;
$menu-chic-main-course-color: #A56799;
$menu-chic-dessert-color: #6E4CCC;


$menu-delight-box-color: #F9F9F9;
$menu-delight-name-color: #0887FB;
$menu-delight-gradient-color1: #0431DF;
$menu-delight-gradient-color2: #076BF2;
$menu-delight-gradient-color3: #0887FB;

$menu-taste-box-color: #FDFFFD;
$menu-taste-name-color: #72BF56;
$menu-taste-gradient-color1: #3D9339;
$menu-taste-gradient-color2: #8BD363;
$menu-taste-gradient-color3: #BFFF7E;


// Durations
$dot-dur: 1000ms;
$dot-delay: $dot-dur / 3;