//MOBILE STYLE

//Shared menu style
.dish-list {
  list-style-type: none;
  margin: 20px 0 55px;
  padding: 0 28px;
  font-size: 1.8rem;

  &__item {
    margin-bottom: 30px;

    &__name {
      margin-bottom: 5px;
    }
  }
}

//Note menu specific features
.menu__details--note {

  .dish-list {

    &__item {

      &__price {
        font-weight: bold;
      }
    }
  }
}

//Chic menu specific features
.menu__details--chic {

  .dish-list {

    &__item {

      &__price {
        font-size: 2.2rem;
      }
    }
  }
}

//Delight menu specific features
.menu__details--delight {

  .dish-list {

    &__item {

      &__price {
        font-size: 2.3rem;
      }
    }
  }
}

//Taste menu specific features
.menu__details--taste {

  .dish-list {

    &__item {

      &__price {
        font-size: 2.3rem;
      }
    }
  }
}

//TABLET OVERRIDE STYLE

@media (min-width: 768px) {

  //Shared menu style
  .dish-list {

    &__item {
      display: flex;
      margin-bottom: 20px;

      &__name {
        flex: 1 0;
        text-align: left;
        margin-bottom: 0;
      }
    }
  }

  //Note menu specific features
  .menu__details--note {

    .dish-list {
      font-size: 1.7rem;
      margin: 13px 0 55px;
      padding: 0 12px 0 5px; //Adjust visually according to bars length
    }
  }

  //Chic menu specific features
  .menu__details--chic {

    .dish-list {
      font-size: 1.6rem;
      margin: 27px 0 55px;

      &__item {
        align-items: baseline;
        margin-bottom: 17px;

        &__price {
          font-size: 2rem;
        }
      }
    }
  }

  //Delight menu specific features
  .menu__details--delight {

    .dish-list {
      margin: 27px 0 55px;

      &__item {
        align-items: baseline;
        margin-bottom: 17px;

        &__price {
          font-size: 2.1rem;
        }
      }
    }
  }

  //Taste menu specific features
  .menu__details--taste {

    .dish-list {
      margin: 27px 0 55px;
      font-size: 1.7rem;

      &__item {
        align-items: baseline;
        margin-bottom: 17px;

        &__price {
          font-size: 2.1rem;
        }
      }
    }
  }
}


//DESKTOP OVERRIDE STYLE

@media (min-width: 992px) {

  //Shared menu style
  .dish-list {
    margin: 15px 0 68px;
  }

  //Note menu specific features
  .menu__details--note {

    .dish-list {
      font-size: 2.1rem;
    }
  }

  //Chic menu specific features
  .menu__details--chic {

    .dish-list {
      font-size: 1.9rem;
      margin: 30px 0 65px;

      &__item {

        &__price {
          font-size: 2.2rem;
        }
      }
    }
  }

  //Delight menu specific features
  .menu__details--delight {

    .dish-list {
      font-size: 2rem;
      margin: 30px 0 65px;

      &__item {

        &__price {
          font-size: 2.3rem;
          letter-spacing: 0.1rem;
        }
      }
    }
  }

  //Taste menu specific features
  .menu__details--taste {

    .dish-list {
      font-size: 2rem;
      margin: 30px 0 65px;

      &__item {

        &__price {
          font-size: 2.4rem;
        }
      }
    }
  }
}