//MOBILE STYLE

//Shared menu style
.dish-list {
  list-style-type: none;
  margin: 20px 0 55px;
  padding: 0 28px;
  font-size: 1.8rem;

  &__item {
    margin-bottom: 30px;

    &__name {
      margin-bottom: 5px;
    }
  }
}

//Note menu specific features
.menu__details--note {

  .dish-list {

    &__item {

      &__price {
        font-weight: bold;
      }
    }
  }
}

//Chic menu specific features
.menu__details--chic {

  .dish-list {

    &__item {

      &__price {
        font-size: 2.2rem;
      }
    }
  }
}

//TABLET OVERRIDE STYLE

@media (min-width: 768px) {

  //Shared menu style
  .dish-list {
    margin: 13px 0 55px;

    &__item {
      display: flex;
      margin-bottom: 20px;

      &__name {
        flex: 1 0;
        text-align: left;
        margin-bottom: 0;
      }
    }
  }

  //Note menu specific features
  .menu__details--note {

    .dish-list {
      font-size: 1.7rem;
      padding: 0 12px 0 5px; //Adjust visually according to bars length
    }
  }

}


//DESKTOP OVERRIDE STYLE

@media (min-width: 992px) {

  //Shared menu style
  .dish-list {
    margin: 15px 0 68px;
  }

  //Note menu specific features
  .menu__details--note {

    .dish-list {
      font-size: 2.1rem;
    }
  }
}