// font stacks
$sans-serif:            'Arial', sans-serif;
$times:                 'Times New Roman';
$caveat:                'Caveat', cursive;
$itim:                  'Itim', cursive;
$kaushan:               'Kaushan Script', cursive;
$dancing:               'Dancing Script', cursive;
$croissant:             'Croissant One', cursive;
$devonshire:            'Devonshire', cursive;
$montserrat:            'Montserrat', $sans-serif;