//MOBILE STYLE


footer {
  text-align: center;
  background-color: $primary-color;
  border-top: 2px solid $primary-color-border;
  padding: 18px 11px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;

  .legal, .contact {
    font-family: $montserrat;
    font-weight: 500;
    font-size: 1.8rem;
    flex-grow: 1;

    a {
      color: $primary-color-text;

    }
  }

  .legal {
    text-align: left;
  }

  .contact {
    text-align: right;
  }
}



//TABLET OVERRIDE STYLE

@media (min-width: 768px) {

  footer {
    padding: 18px;

    .legal, .contact {
      font-size: 2.4rem;
    }
  }
}


//DESKTOP OVERRIDE STYLE

@media (min-width: 992px) {

  footer {
    .legal, .contact {
      font-size: 2.6rem;
    }
  }
}