//MOBILE STYLE

main {
  padding: 35px 45px 55px;


  .menu {
    margin: 0 auto;


    &__prev {
      height: 400px;
      margin-bottom: 35px;
      box-shadow: 0 0 15px $menu-prev-shadow-color;
      display: flex;

      a {
        margin: auto;
        text-align: center;
      }

      h2 {
        margin-bottom: 20px;
        padding: 0 5px;
      }

      &--note {
        background-color: $menu-note-box-color;

        h2 {
          font-family: $devonshire;
          font-weight: 500;
          font-size: 2.8rem;
          color: $menu-note-name-color;
        }

        span {
          font-family: $itim;
          font-size: 4.1rem;
          font-style: italic;
          color: $menu-note-name-color;
        }
      }

      &--chic {
        background-color: $menu-chic-box-color;

        h2 {
          font-family: $croissant;
          font-size: 2rem;
          font-weight: 500;
          @include text-color-gradient(-80deg, $menu-chic-gradient-color1, 15%, $menu-chic-gradient-color2, 55%, $menu-chic-gradient-color3, 70%);
          color: $menu-chic-name-color; //In case the gradient color properties used don't work in the browser
        }

        span {
          font-family: $times;
          font-size: 4rem;
          font-weight: 600;
          color: $menu-chic-name-color;
        }
      }

      &--delight {
        background-color: $menu-delight-box-color;

        h2 {
          font-family: $dancing;
          font-size: 2.9rem;
          font-weight: 500;
          @include text-color-gradient(-70deg, $menu-delight-gradient-color1, 20%, $menu-delight-gradient-color2, 55%, $menu-delight-gradient-color3, 90%);
          color: $menu-delight-name-color; //In case the gradient color properties used don't work in the browser
        }

        span {
          font-family: $caveat;
          font-size: 4.6rem;
          font-weight: 500;
          color: $menu-delight-name-color;
        }
      }

      &--taste {
        background-color: $menu-taste-box-color;

        h2 {
          font-family: $kaushan;
          font-size: 2.8rem;
          font-weight: 500;
          @include text-color-gradient(-70deg, $menu-taste-gradient-color1, 20%, $menu-taste-gradient-color2, 50%, $menu-taste-gradient-color3, 75%);
          color: $menu-taste-name-color; //In case the gradient color properties used don't work in the browser
        }

        span {
          font-family: $caveat;
          font-size: 4.6rem;
          font-weight: 500;
          color: $menu-taste-name-color;
        }
      }
    }
  }

  .soon__anim {
    background-color: $primary-color;
    color: $primary-color-text;
    border-radius: 11px;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 2.5rem;
    margin: 50px auto;
    max-width: 286px;
    line-height: 5.5rem;
    text-align: center;
  }
}



//TABLET OVERRIDE STYLE

@media (min-width: 768px) {

  main {
    padding: 50px 35px 115px;

    .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;


      &__prev {
        flex-basis: 40%;
        margin-bottom: 55px;
      }
    }


    .soon__anim {
      margin: 0 auto;
      max-width: none;
      width: 320px;
      font-size: 2.7rem;
    }
  }
}


//DESKTOP OVERRIDE STYLE

@media (min-width: 992px) {

  main {
    padding: 50px 25px 125px;

    .menu {
      width: 950px;


      &__prev {
        flex-basis: 35%;
        height: 470px;
        margin-bottom: 75px;
      }
    }


    .soon__anim {
      width: 390px;
      font-size: 3.3rem;
      line-height: 6.2rem;
    }
  }
}