//MOBILE (& UP) STYLE

//Shared menu style
.menu {
  padding: 35px 30px 100px;
  text-align: center;

  &__restau-name {
    font-family: $sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0 0 20px;
  }

  &__details {
    box-shadow: 0 0 15px $menu-prev-shadow-color;
    padding: 35px 0 5px;

    &__header {
      padding-bottom: 30px;
    }

    &__subtitle {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 14px;

      .bar {

        img {
          max-width: 100%;
          position: relative;
        }
      }

      .underlined {

        h2 {
          display: inline-block;
          box-sizing: border-box;
        }
      }
    }
  }

  //Note menu specific features
  &__details--note {
    padding: 25px 0;
    background-color: $menu-note-box-color;
    font-family: $comics;
    color: $menu-note-name-color;


    header {

      img {
        width: 40px;
      }

      h1 {
        font-family: $devonshire;
        font-weight: 500;
        font-size: 3.3rem;
      }
    }

    &__subtitle {

      .bar {
        flex: 1 1;

        img {
          top: 2px
        }
      }

      .underlined {
        flex: 0 0 27%;
        padding: 0 6px;

        h2 {
          white-space: nowrap; //To avoid having the title on two lines
          font-size: 2.1rem;
        }
      }
    }

    footer {
      display: flex;
      justify-content: center;

      img {
        width: 30px;
        padding-right: 7px;
        padding-bottom: 5px;
      }

      p {
        font-family: $devonshire;
        font-weight: 500;
        font-size: 3rem;
        margin: 0;
      }
    }
  }

  //Chic menu specific features
  &__details--chic {
    background-color: $menu-chic-box-color;
    font-family: $source-serif;

    header {

      h1 {
        font-family: $croissant;
        font-weight: 500;
        font-size: 2.7rem;
        @include text-color-gradient(-80deg, $menu-chic-gradient-color1, 15%, $menu-chic-gradient-color2, 55%, $menu-chic-gradient-color3, 70%);
        color: $menu-chic-name-color; //In case the gradient color properties used don't work in the browser
      }
    }

    &__subtitle {
      padding: 0 14px 10px;

      .bar {
        flex: 0 1 260px;

        img {
          top: 3px;
        }
      }

      .underlined {
        flex: 0 0 54%;
        padding: 0 15px;

        h2 {
          font-size: 2.1rem;
          line-height: 2.8rem;
        }
      }
    }

    &__starter {
      color: $menu-chic-starter-color;
    }

    &__main-course {
      color: $menu-chic-main-course-color;

    }

    &__dessert {
      color: $menu-chic-dessert-color;
    }
  }

  //Delight menu specific features
  &__details--delight {
    background-color: $menu-delight-big-box-color;
    font-family: $comics;

    header {

      h1 {
        font-family: $dancing;
        font-weight: 500;
        font-size: 3.9rem;
        @include text-color-gradient(-70deg, $menu-delight-gradient-color1, 20%, $menu-delight-gradient-color2, 55%, $menu-delight-gradient-color3, 90%);
        color: $menu-delight-name-color; //In case the gradient color properties used don't work in the browser
      }
    }

    &__subtitle {
      padding: 0 14px 13px;

      .bar {
        flex: 0 1 270px;

        img {
          top: 2px;
        }
      }

      .underlined {
        flex: 0 0 50%;
        padding: 0 10px;

        h2 {
          font-size: 2.2rem;
          font-weight: 500;
          white-space: nowrap;
        }
      }
    }
  }

  //Taste menu specific features
  &__details--taste {
    background-color: $menu-taste-box-color;
    font-family: $comics;

    header {

      h1 {
        font-family: $kaushan;
        font-weight: 500;
        font-size: 3.9rem;
        @include text-color-gradient(-70deg, $menu-taste-gradient-color1, 20%, $menu-taste-gradient-color2, 50%, $menu-taste-gradient-color3, 75%);
        color: $menu-taste-name-color; //In case the gradient color properties used don't work in the browser
      }
    }

    &__subtitle {
      padding: 0 14px 13px;

      .bar {
        flex: 1 1 290px;

        img {
          top: 1px;
        }
      }

      .underlined {
        flex: 0 0 40%;
        padding: 0 10px;

        h2 {
          font-size: 2.2rem;
          font-weight: 500;
          white-space: nowrap;
        }
      }
    }
  }
}


//TABLET (& UP) OVERRIDE STYLE

@media (min-width: $tablet) {

  //Shared menu style
  .menu {
    padding: 45px 70px 130px;

    &__restau-name {
      font-size: 3rem;
    }

    &__details {
      padding: 50px 50px;

      &__subtitle {
        padding: 0 0;
      }
    }

    //Note menu specific features
    &__details--note {

      header {

        img {
          width: 55px;
        }

        h1 {
          font-size: 3.8rem;
        }
      }

      &__subtitle {

        .bar {

          .right-bar {
            top: 4px;
          }
        }
      }
    }

    //Chic menu specific features
    &__details--chic {
      padding: 64px 34px;

      header {
        padding-bottom: 64px;

        h1 {
          font-size: 3.3rem;
        }
      }

      &__subtitle {
        margin: 0 -13px;

        .bar {

          img {
            top: 2px;
          }
        }

        .underlined {
          flex: 0 0 42%;
          padding: 0 4px;

          h2 {
            white-space: nowrap; //To avoid having the title on two lines
            font-size: 2.0rem;
            letter-spacing: 0.05rem;
          }
        }
      }
    }

    //Delight menu specific features
    &__details--delight {
      padding: 64px 26px;

      header {
        padding-bottom: 64px;

        h1 {
          font-size: 5.5rem;
        }
      }

      &__subtitle {
        margin: 0 -20px;

        .bar {

          img {
            top: 4px;
          }
        }

        .underlined {
          flex: 0 0 38%;
          padding: 0 0;

          h2 {
            font-size: 2.2rem;
            letter-spacing: 0.07rem;
          }
        }
      }
    }

    //Taste menu specific features
    &__details--taste {
      padding: 64px 24px;

      header {
        padding-bottom: 64px;

        h1 {
          font-size: 6.4rem;
        }
      }

      &__subtitle {
        margin: 0 -10px;

        .bar {

          img {
            top: 4px;
          }
        }

        .underlined {
          flex: 0 0 30%;
          padding: 0 0;

          h2 {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
}


//DESKTOP (& UP) OVERRIDE STYLE

@media (min-width: $desktop) {

  //Shared menu style
  .menu {

    &__restau-name {
      font-size: 3.2rem;
    }

    &__details {
      box-sizing: border-box;
      width: 820px;
      margin: 0 auto;
      padding: 60px 70px;

      &__subtitle {

        .underlined {

          h2 {

            &::after {
              content: "";
              display: block;
              width: 100%;
              position: relative;
              bottom: 1px;
              opacity: 0;
              transform: scaleX(0);
              transform-origin: left;
              transition: transform 750ms cubic-bezier(0.98, 0.17, 0.58, 1);
            }

            &:hover {
              &::after {
                opacity: 1;
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }

    //Note menu specific features
    &__details--note {

      header {

        img {
          width: 66px;
        }

        h1 {
          font-size: 4.5rem;
        }
      }

      &__subtitle {

        .underlined {

          h2 {
            font-size: 2.6rem;

            &::after {
              height: 4px;
              border-radius: 2px;
              background: linear-gradient(to right, $note-gradient-color1 0%, $note-gradient-color2 39%, $note-gradient-color3 59%);
            }
          }
        }
      }

      footer {

        img {
          width: 38px;
          padding-right: 8px;
        }

        p {
          font-size: 3.7rem;
        }
      }
    }

    //Chic menu specific features
    &__details--chic {
      padding: 90px 80px;

      header {
        padding-bottom: 90px;

        h1 {
          font-size: 4rem;
        }
      }

      &__subtitle {
        margin: 0 -61px;

        .underlined {
          flex: 0 0 35%;

          h2 {
            font-size: 2.2rem;

            &::after {
              height: 2px;
              border-radius: 1px;
            }
          }
        }
      }

      &__starter {

        .underlined {

          h2 {

            &::after {
              background: $menu-chic-starter-color;
            }
          }
        }
      }

      &__main-course {

        .underlined {

          h2 {

            &::after {
              background: $menu-chic-main-course-color;
            }
          }
        }
      }

      &__dessert {

        .underlined {

          h2 {

            &::after {
              background: $menu-chic-dessert-color;
            }
          }
        }
      }
    }

    //Delight menu specific features
    &__details--delight {
      padding: 90px 85px 80px;

      header {
        padding-bottom: 90px;

        h1 {
          font-size: 7.5rem;
        }
      }

      &__subtitle {
        margin: 0 -61px;

        .bar {

          img {
            top: 5px;
          }
        }

        .underlined {
          flex: 0 0 32%;

          h2 {
            font-size: 2.3rem;

            &::after {
              height: 2px;
              border-radius: 1px;
            }
          }
        }
      }

      &__starter {

        .underlined {

          h2 {

            &::after {
              background: $menu-delight-starter-color;
            }
          }
        }
      }

      &__main-course {

        .underlined {

          h2 {

            &::after {
              background: $menu-delight-main-course-color;
            }
          }
        }
      }

      &__dessert {

        .underlined {

          h2 {

            &::after {
              background: $menu-delight-dessert-color;
            }
          }
        }
      }
    }

    //Taste menu specific features
    &__details--taste {
      padding: 90px 70px 80px;

      header {
        padding-bottom: 90px;

        h1 {
          font-size: 7.8rem;
        }
      }

      &__subtitle {
        margin: 0 -50px;

        .bar {

          img {
            top: 4px;
          }
        }

        .underlined {
          flex: 0 0 25%;

          h2 {
            font-size: 2.3rem;

            &::after {
              height: 3px;
              border-radius: 1.5px;
              background: linear-gradient(to right, $menu-taste-gradient-color1 0%, $menu-taste-gradient-color3 25%, $menu-taste-gradient-color3 75%, $menu-taste-gradient-color1 100%,);
            }
          }
        }
      }
    }
  }
}