//MOBILE STYLE

.menu {
  padding: 35px 30px 100px;
  text-align: center;

  &__restau-name {
    font-family: $sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0 0 2rem;
  }

  &__details {
    box-shadow: 0 0 15px $menu-prev-shadow-color;
    padding: 2.5rem 0;

    &__header {
      padding-bottom: 3rem;
    }

    &__subtitle {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 1.4rem;

      .bar {
        flex: 1 1;

        img {
          max-width: 100%;
          position: relative;
          top: 0.2rem;
        }
      }

      h2 {
        flex: 0 0 30%;
        white-space: nowrap; //To avoid having the title on two lines
        box-sizing: border-box;
        padding: 0 1rem;
      }
    }

  }

  //Note menu specific features
  &__details--note {
    background-color: $menu-note-box-color;
    font-family: $comics;
    color: $menu-note-name-color;


    header {
      img {
        width: 4rem;
      }

      h1 {
        font-family: $devonshire;
        font-weight: 500;
        font-size: 3.3rem;
      }
    }

    h2 {
      font-size: 2.1rem;
    }

    footer {
      display: flex;
      justify-content: center;

      img {
        width: 3rem;
        padding-right: 0.7rem;
        padding-bottom: 0.5rem;
      }

      p {
        font-family: $devonshire;
        font-weight: 500;
        font-size: 3rem;
        margin: 0;
      }

    }
  }
}
