//MOBILE STYLE

//Shared menu style
.menu {
  padding: 35px 30px 100px;
  text-align: center;

  &__restau-name {
    font-family: $sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0 0 20px;
  }

  &__details {
    box-shadow: 0 0 15px $menu-prev-shadow-color;
    padding: 25px 0;

    &__header {
      padding-bottom: 30px;
    }

    &__subtitle {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 0 14px;

      .bar {
        flex: 1 1;

        img {
          max-width: 100%;
          position: relative;
          top: 2px;
        }
      }

      h2 {
        flex: 0 0 30%;
        white-space: nowrap; //To avoid having the title on two lines
        box-sizing: border-box;
        padding: 0 10px;
      }
    }
  }

  //Note menu specific features
  &__details--note {
    background-color: $menu-note-box-color;
    font-family: $comics;
    color: $menu-note-name-color;


    header {
      img {
        width: 40px;
      }

      h1 {
        font-family: $devonshire;
        font-weight: 500;
        font-size: 3.3rem;
      }
    }

    h2 {
      font-size: 2.1rem;
    }

    footer {
      display: flex;
      justify-content: center;

      img {
        width: 30px;
        padding-right: 7px;
        padding-bottom: 5px;
      }

      p {
        font-family: $devonshire;
        font-weight: 500;
        font-size: 3rem;
        margin: 0;
      }
    }
  }
}


//TABLET OVERRIDE STYLE

@media (min-width: 768px) {

  //Shared menu style
  .menu {
    padding: 45px 70px 130px;

    &__restau-name {
      font-size: 3rem;
    }

    &__details {
      padding: 50px 50px;

      &__subtitle {
        padding: 0 0;
      }
    }

    //Note menu specific features
    &__details--note {

      header {

        img {
          width: 55px;
        }

        h1 {
          font-size: 3.8rem;
        }

      }

    }
  }
}


//DESKTOP OVERRIDE STYLE

@media (min-width: 992px) {

  //Shared menu style
  .menu {

    &__restau-name {
      font-size: 3.2rem;
    }

    &__details {
      box-sizing: border-box;
      width: 820px;
      margin: 0 auto;
      padding: 60px 70px;

    }


    //Note menu specific features
    &__details--note {

      header {

        img {
          width: 66px;
        }

        h1 {
          font-size: 4.5rem;
        }
      }

      h2 {
        font-size: 2.6rem;
      }

      footer {

        img {
          width: 38px;
          padding-right: 8px;
        }

        p {
        font-size: 3.7rem;
        }
      }
    }
  }
}